@import "tailwindcss";

@theme {
  --color-custom-blue: #211f4f;
  --color-custom-blue-light-1: #2780ea;

  --color-custom-green: #1b381d;
  --color-custom-green-light-1: #18c359;

  --color-custom-red: #50091f;
  --color-custom-red-light-1: #d3153e;
}
